@media (min-width: 768px) {
/**--------------------GENERAL--------------------**/
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; 
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
}

h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

h5 {
    color: white;
}

li {
    color: white;
    font-family: sans-serif;
}

h4 {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/**To remove empty white space between Home and About**/
body {
    margin: 0px;
    background-color: #000c26
}

/**--------------------Navigation Bar--------------------**/

/*Navigation bar at the top*/
.navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #152238;
    z-index: 1000;
    padding-right: 200px;       /*HELP PUT SPACE IN THE RIGHT*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navigation bar "John Vincent P. Rabaca - BSCS1-3"*/
.navbar .brandname {
    display: flex;
    justify-content: left;
    margin-left: 1em;
    padding-left: 1em;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
}

/*Navigation bar Home, About, Skills, Contacts*/
.navbar ul {
    display: flex;
    justify-content: right; 
    list-style: none;           /* Removes the bullet points */
    margin-top: 1em;
    margin-right: 1em;
    padding: 15px 0;
}

/*Navigation bar links*/
.navbar a {
    text-decoration: none;  /* Removes the underline */
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

/*Spaces between buttons*/
.navbar li {
    margin: 0 20px;
}

/* Hover effect*/
.navbar a:hover {
    color: #1a3a6d; 
}


/**--------------------Home--------------------**/


/*To remove the annoying white space in the sides*/


/*To not center the introduction in the home (Since the texts were also h1)*/
.introduction h1 {
    text-align: left;
    font-size: 5rem;
    margin: 0.1em;
}

/*To put the quote into the left side*/
.introduction h3 {
    text-align: left;
    font-size: 1.8rem;
}

/*Background*/
.introduction{
    background-image: linear-gradient(transparent, #000c26), url(../images/background.png); /**Make the background more dimmer**/
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: 100% auto;
    min-height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*A seperate class for texts and image (seperate from bg)*/
/*For alignment*/
.introduction2{
    display: flex;              /* Puts items side-by-side*/
    align-items: center;        /* Centers ALL items vertically*/
    justify-content: center;    /* Centers the whole group on the page*/
    gap: 50px;                  /* Space between the photo and the text*/
    padding: 5rem;               /*distance to the edge, height & width*/
}

/*Texts for introduction and quote*/
.bio-text {
    color: white;       
    font-family: sans-serif;
}

/*My picture*/
.self-picture img {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0B2C5D;
    padding-top: 4rem;
}

/*Resume Button*/
.resume-button {
  display: inline-block;
  margin-top: 0.1rem;
  padding: 10px 30px;
  background-color: #000c26;
  color: white;
  border-radius: 50px;    /* Rounded button pill shape */
  font-weight: bold;
  border: 1px solid #1a3a6d;
}

/**--------------------About--------------------**/
.about-me {
    background-color: #000c26;
    font-family: sans-serif;
    color: white;
}

/**__________About me__________**/
.about-me-header {
    background-color: #000c26;
    text-decoration: underline skyblue;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0px;
}

.about-me .self-branding h5 {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    padding-left: 20rem;
    padding-right: 20rem;
    text-indent: 40px;
    font-weight: lighter;
    padding-bottom: 30px;
}

/**__________Education Background__________**/
.header {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    font-size: 1rem;
}

.background {
    display: flex;
    justify-content: center; 
    padding-bottom: 50px;
    width: 100%;            
}

.timeline {
    max-width: 35rem;
    border-right: 1px solid #ffffff33;
    padding-right: 8rem;
    text-align: left;       
    font-size: 1rem;
}

.background .timeline ul {
    text-align: left;
}

.background .timeline li {
    text-align: left;
    margin-bottom: 15px;
}

.interests {
    padding-left: 8rem;
    max-width: 35rem;
    text-align: left;
    font-size: 1rem;
}


/**--------------------Skills--------------------**/
.skills {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

ul {
    list-style-position: inside;
}

/**__________Technical Skills__________**/
.flip-card1 {
    width: 15rem;
    height: 10rem;
    perspective: 50rem;
    padding-right: 5rem;
    font-size: 0.75rem;
}

.technical {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.6s;
    transform-style: preserve-3d;   /*Preserve as 3D*/
}

.flip-card1:hover .technical {     /**.flip-card is a class. :hover is a function (Triggers only when hovered)**/
    transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technical .flip-card-back1 {
    text-align: left;
    padding-left: 1rem;
}

.flip-card-front1 {
    background-color: #0B2C5D;
    color: aliceblue;
}

.flip-card-back1 {
    background-color: #152238;
    color: #000c24;
    transform: rotateY(180deg);
}

/**__________Soft Skills__________**/
.flip-card2 {
    width: 15rem;
    height: 10rem;
    perspective: 50rem;
    font-size: 0.75rem;
}

.soft {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;   /*Preserve as 3D*/
}

.flip-card2:hover .soft {     /**.flip-card is a class. :hover is a function (Triggers only when hovered)**/
    transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front2 {
    background-color: #0B2C5D;
    color: aliceblue;
}

.flip-card-back2 {
    background-color: #152238;
    color: #000c24;
    transform: rotateY(180deg);
}

.soft .flip-card-back2 {
    text-align: left;
    padding-left: 1rem;
}



/**--------------------Projects--------------------**/
.projects-headers {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    font-size: 1rem;
}

.seperator {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.personal-website {
    display: flex;
    width: 40rem;
    border-right: 1px solid #ffffff33;
    padding-right: 3rem;
    justify-content: flex-end;
}

.sari-sari-store-prices {
    display: flex;
    width: 40rem;
    padding-left: 3rem;
    justify-content: flex-start;
}

.personal-website img{
    height: auto;
    width: 20rem;
    margin-right: 1rem;
}

.sari-sari-store-prices img {
    height: auto;
    width: 12.5rem;
    margin-right: 1rem;
}

.seperator h5 {
    font-size: 1rem;
}

.text-button-seperator1 .button {
  display: inline-block;
  margin-top: 0.1rem;
  padding: 0.5rem 1.5rem;
  background-color: #152238;
  color: white;
  border-radius: 2.5rem;
  font-weight: bold;
  border: 1px solid #1a3a6d;
  width: 6rem;
  font-family: sans-serif;
  padding-right: 0.5rem;
}

.text-button-seperator1 {
    display: flex;
    flex-direction: column;
}

.personal-website .text-button-seperator1 a {
    font-size: 1rem;
    padding-right: 1.5rem;
}

.sari-sari-store-prices .text-button-seperator1 a {
    font-size: 1rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
}



/**--------------------Contacts--------------------**/
.contacts {
    text-align: center;
    background-color: #001440;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contacts a {
    display: inline-block;
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: black;
}

.contacts img {
    width: 2.5rem;
}

.contacts h2, h4 {
    font-size: 1rem;
}

}

/*.............................................................................................................Phone Media.............................................................................................................*/

@media (max-width: 768px) {
/**--------------------GENERAL--------------------**/
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; 
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
}

h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

h5 {
    color: white;
}

li {
    color: white;
    font-family: sans-serif;
}

h4 {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/**To remove empty white space between Home and About**/
body {
    margin: 0px;
    background-color: #000c26
}

/**--------------------Navigation Bar--------------------**/

/*Navigation bar at the top*/
.navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #152238;
    z-index: 1000;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0; 
    flex-direction: column; 
    padding-bottom: 10px;
}

/*Navigation bar "John Vincent P. Rabaca - BSCS1-3"*/
.navbar .brandname {
    display: flex;
    justify-content: left;
    margin-left: 1em;
    padding-left: 1em;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
}

/*Navigation bar Home, About, Skills, Contacts*/
.navbar ul {
    display: flex;
    justify-content: center; 
    list-style: none;           
    margin-top: 1em;
    margin-right: 0;
    padding: 10px 0;
}

/*Navigation bar links*/
.navbar a {
    text-decoration: none;  
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

/*Spaces between buttons*/
.navbar li {
    margin: 0 20px;
}

/* Hover effect*/
.navbar a:hover {
    color: #1a3a6d; 
}


/**--------------------Home--------------------**/


/*To remove the annoying white space in the sides*/


/*To not center the introduction in the home (Since the texts were also h1)*/
.introduction h1 {
    text-align: left;
    font-size: 3rem;
    margin: 0.1em;
    text-align: center;
}

/*To put the quote into the left side*/
.introduction h3 {
    text-align: center;
    font-size: 1.2rem;
}

/*Background*/
.introduction{
    background-image: linear-gradient(transparent, #000c26), url(../images/background.png); /**Make the background more dimmer**/
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: 100% auto;
    min-height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*A seperate class for texts and image (seperate from bg)*/
/*For alignment*/
.introduction2{
    display: flex; 
    flex-direction: column;             
    align-items: center;        
    justify-content: center;
    text-align: center;
    gap: 20px;                  
    padding: 2rem;              
}

/*Texts for introduction and quote*/
.bio-text {
    color: white;       
    font-family: sans-serif;
}

/*My picture*/
.self-picture img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0B2C5D;
    padding-top: 4rem;
}

/*Resume Button*/
.resume-button {
  display: inline-block;
  margin-top: 0.1rem;
  padding: 10px 30px;
  background-color: #000c26;
  color: white;
  border-radius: 50px;    /* Rounded button pill shape */
  font-weight: bold;
  border: 1px solid #1a3a6d;
}

/**--------------------About--------------------**/
.about-me {
    background-color: #000c26;
    font-family: sans-serif;
    color: white;
}

/**__________About me__________**/
.about-me-header {
    background-color: #000c26;
    text-decoration: underline skyblue;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0px;
}

.about-me .self-branding h5 {
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    padding-left: 2rem;
    padding-right: 2rem;
    text-indent: 40px;
    font-weight: lighter;
    padding-bottom: 30px;
}

/**__________Education Background__________**/
.header {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    font-size: 1rem;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-bottom: 50px;
    width: 100%;            
}

.timeline {
    max-width: 35rem;
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    max-width: 90%;
    text-align: left;       
    font-size: 1rem;
}

.background .timeline ul {
    text-align: left;
}

.background .timeline li {
    text-align: left;
    margin-bottom: 15px;
}

.interests {
    padding-top: 2rem;
    max-width: 90%;
    text-align: left;
    font-size: 1rem;
}


/**--------------------Skills--------------------**/
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

ul {
    list-style-position: inside;
}

/**__________Technical Skills__________**/
.flip-card1 .flip-card2{
    width: 80%;
    height: 10rem;
    perspective: 50rem;
    font-size: 0.75rem;
}

.technical {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.6s;
    transform-style: preserve-3d;   /*Preserve as 3D*/
}

.flip-card1:hover .technical {     /**.flip-card is a class. :hover is a function (Triggers only when hovered)**/
    transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technical .flip-card-back1 {
    text-align: left;
    padding-left: 1rem;
}

.flip-card-front1 {
    background-color: #0B2C5D;
    color: aliceblue;
}

.flip-card-back1 {
    background-color: #152238;
    color: #000c24;
    transform: rotateY(180deg);
}

/**__________Soft Skills__________**/
.flip-card2, .flip-card1{
    width: 20rem;
    height: 10rem;
    perspective: 50rem;
    font-size: 0.75rem;
}

.soft {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;   /*Preserve as 3D*/
}

.flip-card2:hover .soft {     /**.flip-card is a class. :hover is a function (Triggers only when hovered)**/
    transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front2 {
    background-color: #0B2C5D;
    color: aliceblue;
}

.flip-card-back2 {
    background-color: #152238;
    color: #000c24;
    transform: rotateY(180deg);
}

.soft .flip-card-back2 {
    text-align: left;
    padding-left: 1rem;
}



/**--------------------Projects--------------------**/
.personal-website h2, .sari-sari-store-prices h2 {
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    width: 100%;            
}

.seperator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.personal-website, .sari-sari-store-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40rem;
    border-right: 1px solid #ffffff33;
    justify-content: flex-end;
}

.personal-website img, .sari-sari-store-prices img {
    width: 100%; /* Image takes full width of container */
    max-width: 15rem;
    margin-right: 0;
    margin-bottom: 1rem;
}

.personal-website img{
    height: auto;
    width: 30rem;
}

.sari-sari-store-prices img {
    height: auto;
    width: 12.5rem;
}

.seperator h5 {
    font-size: 1rem;
    width: 30rem;
}

.text-button-seperator1 .button {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #152238;
  color: white;
  border-radius: 2.5rem;
  font-weight: bold;
  border: 1px solid #1a3a6d;
  width: 100%;
  font-family: sans-serif;
}

.text-button-seperator1 {
    display: flex;
    flex-direction: column;
}

.personal-website .text-button-seperator1 a, .sari-sari-store-prices .text-button-seperator1 a {
    font-size: 1rem;
}



/**--------------------Contacts--------------------**/
.contacts {
    text-align: center;
    background-color: #001440;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contacts a {
    display: inline-block;
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: black;
}

.contacts img {
    width: 2.5rem;
}

.contacts h2, h4 {
    font-size: 1rem;
}

}