@media (min-width: 1024px) {
/**--------------------GENERAL--------------------**/
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; 
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
}

h3 {
    margin-bottom: 10px;
    margin-top: 0;
}

h5 {
    color: white;
}

li {
    color: white;
    font-family: sans-serif;
}

h4 {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/**To remove empty white space between Home and About**/
body {
    margin: 0px;
    background-color: #000c26
}

/**--------------------Navigation Bar--------------------**/

/*Navigation bar at the top*/
.navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #152238;
    z-index: 1000;
    padding-right: 200px;       /*HELP PUT SPACE IN THE RIGHT*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navigation bar "John Vincent P. Rabaca - BSCS1-3"*/
.navbar .brandname {
    display: flex;
    justify-content: left;
    margin-left: 1em;
    padding-left: 1em;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
}

/*Navigation bar Home, About, Skills, Contacts*/
.navbar ul {
    display: flex;
    justify-content: right; 
    list-style: none;           /* Removes the bullet points */
    margin-top: 1em;
    margin-right: 1em;
    padding: 15px 0;
}

/*Navigation bar links*/
.navbar a {
    text-decoration: none;  /* Removes the underline */
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}

/*Spaces between buttons*/
.navbar li {
    margin: 0 20px;
}

/* Hover effect*/
.navbar a:hover {
    color: #1a3a6d; 
}


/**--------------------Home--------------------**/


/*To remove the annoying white space in the sides*/


/*To not center the introduction in the home (Since the texts were also h1)*/
.introduction h1 {
    text-align: left;
    font-size: 5vw;
    margin: 0.1em;
}

/*To put the quote into the left side*/
.introduction h3 {
    text-align: left;
    font-size: 1.8vw;
}

/*Background*/
.introduction{
    background-image: linear-gradient(transparent, #000c26), url(../images/background.png); /**Make the background more dimmer**/
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: 100% auto;
    min-height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*A seperate class for texts and image (seperate from bg)*/
/*For alignment*/
.introduction2{
    display: flex;              /* Puts items side-by-side*/
    align-items: center;        /* Centers ALL items vertically*/
    justify-content: center;    /* Centers the whole group on the page*/
    gap: 50px;                  /* Space between the photo and the text*/
    padding: 5vw;               /*distance to the edge, height & width*/
}

/*Texts for introduction and quote*/
.bio-text {
    color: white;       
    font-family: sans-serif;
}

/*My picture*/
.self-picture img {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0B2C5D;
    padding-top: 4vw;
}

/*Resume Button*/
.resume-button {
  display: inline-block;
  margin-top: 0.1vw;
  padding: 10px 30px;
  background-color: #000c26;
  color: white;
  border-radius: 50px;    /* Rounded button pill shape */
  font-weight: bold;
  border: 1px solid #1a3a6d;
}

/**--------------------About--------------------**/
.about-me {
    background-color: #000c26;
    font-family: sans-serif;
    color: white;
}

/**__________About me__________**/
.about-me-header {
    background-color: #000c26;
    text-decoration: underline skyblue;
    justify-content: center;
    font-size: 1.5vw;
    margin: 0px;
}

.about-me .self-branding h5 {
    font-family: sans-serif;
    font-size: 1.6vw;
    line-height: 1.6;
    padding-left: 20vw;
    padding-right: 20vw;
    text-indent: 40px;
    font-weight: lighter;
    padding-bottom: 30px;
}

/**__________Education Background__________**/
.header {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vw;
}

.background {
    display: flex;
    justify-content: center; 
    padding-bottom: 50px;
    width: 100%;            
}

.timeline {
    max-width: 35vw;
    border-right: 1px solid #ffffff33;
    padding-right: 6.5vw;
    text-align: left;       
}

.background .timeline ul {
    text-align: left;
}

.background .timeline li {
    text-align: left;
    margin-bottom: 15px;
}

.interests {
    padding-left: 6.5vw;
    max-width: 35vw;
    text-align: left;
}


/**--------------------Skills--------------------**/
.skills {
    display: flex;
    justify-content: center;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}


/**__________Technical Skills__________**/
.flip-card1 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    padding-right: 5vw;
}

.technical {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;   /*Preserve as 3D*/
}

.flip-card1:hover .technical {     /**.flip-card is a class. :hover is a function (Triggers only when hovered)**/
    transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front1 {
    background-color: #0B2C5D;
    color: aliceblue;
}

.flip-card-back1 {
    background-color: #152238;
    color: #000c24;
    transform: rotateY(180deg);
}

/**__________Soft Skills__________**/
.flip-card2 {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.soft {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;   /*Preserve as 3D*/
}

.flip-card2:hover .soft {     /**.flip-card is a class. :hover is a function (Triggers only when hovered)**/
    transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front2 {
    background-color: #0B2C5D;
    color: aliceblue;
}

.flip-card-back2 {
    background-color: #152238;
    color: #000c24;
    transform: rotateY(180deg);
}





/**--------------------Projects--------------------**/
.projects-headers {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vw;
    font-size: 1vw;
}

.seperator {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vw;
}

.personal-website {
    display: flex;
    width: 35vw;
    border-right: 1px solid #ffffff33;
    padding-right: 6.5vw;
}

.sari-sari-store-prices {
    display: flex;
    width: 35vw;
}

.personal-website img{
    height: auto;
    width: 20vw;
    margin-right: 20px;
}

.sari-sari-store-prices img {
    height: auto;
    width: 12.5vw;
    margin-right: 20px;
}

.seperator h5 {
    font-size: 1vw;
}

.text-button-seperator1 .button {
  display: inline-block;
  margin-top: 0.1vw;
  padding: 10px 30px;
  background-color: #152238;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  border: 1px solid #1a3a6d;
  width: 6vw;
  font-family: sans-serif;
  padding-right: 10px;
}

.text-button-seperator1 {
    display: flex;
    flex-direction: column;
}

/**--------------------Contacts--------------------**/
.contacts {
    text-align: center;
    background-color: #001440;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.contacts a {
    display: inline-block;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: black;
}
}